/* first section */
.image-section {
  margin-top: 70px;
  margin-bottom: 10px;
}
.breadcrumb {
  font-size: 12px;
  text-align: center;
}
.breadcrumb__link {
  color: #82b921;
}
.breadcrumb__link:hover {
  color: gray;
}

.image-section__primary {
  background-image: url(/images/product_detailed_page/desctop/PG.10216885.JJ169XX.BZ.jpg);
  width: 80%;
  height: 290px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1.5%;
}
.image-section__primary-button{
  background: none;
}

.thumbnail:hover .thumbnail__image,
.selected .thumbnail__image {
  border: 3px solid #82b921;
  opacity: 100%;
}

.thumbnail__image {
  width: 75px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid gray;
  margin-right: 5px;
  opacity: 50%;
  border-radius: 5%;
}

.image-section__indicators-button[data-bs-target] {
  background-color: gray;
  border: 2px solid white;
  width: 7.5px;
  height: 7px;
  margin-right: 10px;
}
.image-section__indicators .active {
  opacity: 1;
  border: 2.5px solid black;
  background-color: white;
}
.image-section__indicators {
  margin: 0 0 -25px 0;
}