/* first section */
.image-section {
  margin-top: 70px;
  margin-bottom: 10px;
}
.breadcrumb {
  font-size: 12px;
  text-align: center;
}
.breadcrumb__link {
  color: #82b921;
}
.breadcrumb__link:hover {
  color: gray;
}

.image-section__primary {
  background-image: url(/images/product_detailed_page/large/PG.10216885.JJ169XX.BZ.jpg);
  width: 70%;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.thumbnail:hover .thumbnail__image,
.selected .thumbnail__image {
  border: 2px solid #82b921;
  opacity: 100%;
}

.thumbnail__image {
  width: 75px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 4px solid transparent;
  margin: 0 1px 0 4px;
  opacity: 50%;
}

.image-section__indicators-button[data-bs-target] {
  background-color: gray;
  border: 2px solid white;
  width: 7.5px;
  height: 7px;
  margin-right: 10px;
}
.image-section__indicators .active {
  opacity: 1;
  border: 2.5px solid black;
  background-color: white;
}
.image-section__indicators {
  margin: 0 0 -25px 0;
}