.image-gallery {
  margin-top: 100px;
  margin-bottom: 10px;
}
.content__previous-page{
    color: #82b921;
}
.primary {
  background-image: url(/images/product_detailed_page/large/PG.10216885.JJ169XX.BZ.jpg);
  width: 400px;
  height: 600px;
  background-color: #cccccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.thumbnail:hover .thumbnail-image,
.selected .thumbnail-image {
  border: 2px solid grey;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 4px solid transparent;
}
