.content{
    margin-top: 60px;
    background-color: #f1edea;
    height: auto;
}
.content__previous-page{
    color: #82b921;
}
.content__header{
    font-size: 30px;
    font-weight: 500;
}
/* first section */
.content__subscribe-header{
    color: #82b921;
}
.form-check-input:checked {
    background-color: black;
    border-color: black;
}
.form-check-input:focus {
    /* border-color: black; */
    outline: 0;
    box-shadow: none;
}
.form-check-input:checked[type=radio] {
    background-image: none;
    outline: 2px solid black;
}
.content__button-show-more{
    background-color: #82b921;
    color: white;
    border: 1px solid #82b921;
    width: 200px;
    height: 45px;
}
.content__button-show-more:hover{
    background-color: white;
    color: #82b921;
}
.content__hover-card{
    display: none;
}
@media only screen and (min-width: 1280px) {
.content__filter-box{
    width: 23%;
    }
}
