/* top navigation */
.navigation {
  height: 60px;
  padding: 0;
}
.navigation__hamburger-icon {
  width: 24px;
}
.accordion__item--bg:not(.collapsed),
.accordion__item--bg {
  background: #262a32;
}
.accordion__img {
  width: 70%;
}
.accordion-item--height {
  height: 900px;
}
.navigation__logo-text {
  display: none;
  padding-left: 10px;
}
.nav__img--filter {
  filter: invert(1);
}
.navigation__brand {
  width: 50%;
}
.navigation__counter{
  
}
/* Cookies */
.cookies__modal-dialog-button-close {
  backdrop-filter: none;
}
.cookies__modal-dialog-button-accept {
  background-color: #82b921;
}
.cookies__modal-dialog-link,
.cookies__modal-dialog-link:hover,
.cookies__modal-dialog-header {
  color: #82b921;
}

.cookies__moadl {
  backdrop-filter: brightness(0.5);
  display: none;
}
/* login modal */
.login-modal__link,
.login-modal__link:hover {
  color: #84bc22;
}
.login-modal__button {
  background: #84bc22;
  border: 2px solid #84bc22;
}
.login-modal__button:hover {
  color: #84bc22;
  background-color: white;
  border: 2px solid #84bc22;
}
.login-modal__img-container {
  margin-top: -35px;
  margin-right: 15px;
  cursor: pointer;
}

/* first section */
.navigation__right-basket-item {
  display: none;
}
.slider__start {
  background-image: url(/images/section-1/mobile/Layer\ 3.png);
}
.slider__middle {
  background-image: url(/images/section-1/mobile/Layer\ 149.png);
}
.slider__end {
  background-image: url(/images/section-1/mobile/first\ section\ cerousell\ 3.jpg);
}
.image-style {
  width: 100%;
  height: 470px;
  background-size: cover;
  background-position-x: right;
  background-color: currentcolor;
}
.discount {
  margin-top: 20px;
}
.discounts__container {
  background-image: url(/images/section-1/mobile/Holidays.\ Attribute\ as\ Freepik\ from\ Flaticon.com.png);
  background-color: #84bc22;
  background-repeat: no-repeat;
  background-position-y: 150px;
  height: 335px;
}
.slider-top {
  margin-top: 100px;
}
.slider-top__header {
  font-size: 28px;
  margin-top: 50px;
}
.slider-top__text {
  font-size: 14px;
  margin-bottom: 30px;
}
.slider-top__button {
  background: space;
  font-size: 14px;
  border: 2px solid #8e9092;
  padding: 5px 25px 5px 25px;
  filter: drop-shadow(2px 4px 6px black);
  color: white;
}
.slider-top__button:hover {
  background: white;
  color: black;
}

.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: white;
}
.discounts__img-header {
  font-size: 100px;
}
.discounts__img-text {
  font-size: 24px;
}
.discounts__header {
  font-size: 18px;
  color: #45413e;
  margin-top: 35px;
}
.discounts__text {
  font-size: 13px;
  color: #45413e;
  margin-bottom: 35px;
}
.discounts__button {
  padding: 5px 20px 5px 20px;
  color: #3a5b96;
  background-color: white;
  border: 2px solid #3a5b96;
}
.discounts__button:hover {
  background: #3a5b96;
  color: white;
}
/* second section */
.card__special {
  background-image: url(/images/section-2/mobile/Layer\ 8.png);
  height: 365px;
  background-size: cover;
  background-position-x: -120px;
  opacity: 0.3;
}
.card__text-container {
  text-align: start;
  padding: 20px;
  width: 65%;
  font-size: 16px;
  margin-top: -186px;
  font-weight: bold;
}
.card-items {
  height: 510px;
  background: #262a32;
}
.card__bottom-text {
  font-size: 14px;
}
.card__button-buy--form {
  border-radius: 0 15px 15px 0;
  margin-left: -6px;
  padding: 5px 10px 5px 5px;
  color: black;
}

.card__button-price--form {
  padding: 5px 15px 5px 15px;
  border-radius: 15px 0px 0px 15px;
}
.card__button-buy--form:hover {
  color: white;
  background-color: #84bc22;
}

.card-items__header {
  font-size: 18px;
  width: 50%;
}

.card__special--pink {
  background: linear-gradient(
    9deg,
    rgba(112, 101, 151, 1) 0%,
    rgba(196, 96, 134, 1) 100%
  );
  height: 365px;
}
/* rules for hover effect */
.card__hover-items {
  justify-content: space-evenly;
  margin-top: -250px;
  margin-bottom: 115px;
  padding: 0 10px 0 10px;
  opacity: 0;
}
.card {
  height: 365px;
  opacity: 1;
  z-index: 1;
}
.card__hover-btn {
  z-index: 5;
}
.card-background:hover .card {
  opacity: 0.3;
}
.card-background:hover .card__hover-items {
  opacity: 1;
}
.card-background:hover {
  background: linear-gradient(
    9deg,
    rgba(50, 199, 119, 1) 0%,
    rgba(66, 215, 169, 1) 100%
  );
}
.card__button-load-more {
  display: none;
}
/* third section */
.banner {
  background-image: url(/images/section-3/mobile/Layer\ 148.png);
  background-size: cover;
  height: 185px;
  width: 100%;
  background-position: center;
}
.banner__header {
  font-size: 30px;
}
.banner__text {
  font-size: 14px;
}
/* forth section */
.info-section {
  height: auto;
  background-color: #45413d;
  color: white;
}
.info-section__header--size {
  font-size: 18px;
}
.info-section__text--size {
  font-size: 14px;
}
.info-section__img,
.info-section__text {
  width: 50%;
}

/* fifth section */

.bottom-accordion {
  font-size: 13px;
  height: 400px;
}
.bottom-accordion__item {
  border: none;
  font-size: 13px;
  padding-bottom: 15px;
}
.accordion-button:not(.collapsed) {
  color: #262a32;
  /* background-color: white; */
}
.bottom-accordion__button {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
/* footer */
.footer {
  height: 55px;
  background: #262a32;
}

.footer__counter,
.navigation__counter {
  border: 2px solid #82b921;
  border-radius: 50%;
  padding: 0px 4px 0px 4px;
  color: #82b921;
  font-size: 12px;
  font-weight: bolder;
  right: 12px;
  top: -9px;
  background-color: #262a32;
}
.card-items__header-line {
  width: 25%;
}
.featured-section {
  display: none;
  background-color: #262a32;
  height: 555px;
}
@media only screen and (min-width: 768px) {
  /* top navigation */
  .navigation {
    height: 60px;
  }
  .accordion__img {
    height: 450px;
  }
  .navigation__logo-text {
    display: block;
  }
  .navigation__logo-text-top {
    color: #011847;
    font-size: 25px;
  }
  .navigation__logo-text-bottom {
    font-size: 12px;
    color: #84bc22;
    margin-top: -10px;
  }
  .footer__counter,
  .navigation__counter {
    background-color: white;
  }
  .navigation__brand {
    width: auto;
  }
  .nav__item-heart {
    margin-right: -22px;
  }
  .navigation__link,
  .navigation__link:visited {
    color: black;
    background-color: white;
  }
  .navigation__link:hover {
    background: #262a32;
    color: white;
    border-bottom: 2px solid #84bc22;
  }
  /* modal */

  .cookies__modal-dialog {
    max-width: 85%;
    left: 95px;
    top: 70%;
    margin: 0;
  }
  .cookies__modal-dialog-button {
    margin-top: -35px;
  }

  /* first section */
  .slider__start {
    background-image: url(/images/section-1/desktop/Layer\ 3.png);
    background-position-x: center;
  }
  .slider {
    width: 70%;
  }
  .discount {
    width: 30%;
    margin-top: 0;
  }
  /* second setion */
  .carousel-indicators {
    bottom: 15px;
  }
  .discounts__text {
    margin-bottom: 15px;
  }
  .discounts__header {
    margin-top: 20px;
  }
  .card-items__header-line {
    width: 60%;
  }
  .card-items__header,
  .card__container--width {
    width: 40%;
  }
  /* third section */
  .banner {
    background-image: url(/images/section-3/desctop/Layer\ 148.png);
    height: 400px;
    margin-top: -16px;
  }
  .banner__header {
    font-size: 40px;
  }
  /* fifth section */
  .info-section {
    height: auto;
  }
  .info-section__img {
    width: 25%;
  }
  .info-section__text {
    width: 75%;
  }
}

@media only screen and (min-width: 1280px) {
  /* top navigation */

  .navigation__button-icon {
    height: 60px;
    width: 60px;
  }
  .navigation__right-basket-item {
    display: flex;
  }
  .navigation__logo-text-top {
    font-size: 32px;
  }
  .navigation__logo-text-bottom {
    font-size: 18px;
  }
  .navigation {
    height: 80px;
  }
  .navigation__link {
    height: 70px;
    display: flex;
    align-items: center;
  }
  .navigation__header-link {
    width: 70%;
    align-items: baseline;
    justify-content: space-between;
  }
  .navigation__header-container {
    padding: 0 17px 0 17px;
  }
  .navigation__container-dropdown {
    height: auto;
    padding-top: 30px;
  }
  .navigation__dropdown-img {
    width: 250px;
    height: 250px;
  }

  /* first section */

  .slider {
    width: 100%;
  }
  .discount {
    width: 25%;
    margin-top: 0;
  }
  .discounts__container {
    height: 400px;
  }
  .slider__start,
  .slider__middle,
  .slider__end {
    height: 545px;
  }
  .carousel-indicators {
    bottom: 0;
  }

  /* second section */

  .card__container--width {
    width: 22%;
  }
  .card__button-load-more {
    display: flex;
    background: none;
    border: 2px solid black;
    filter: invert(1);
    width: 25%;
    justify-content: center;
  }

  /* third section */

  .banner {
    height: 445px;
  }
  .banner__header {
    font-size: 48px;
  }
  .card__button-load-more {
    display: flex;
  }

  /* fotrh section */
  .featured-section {
    display: block;
  }
  .featured-section__left-row {
    height: 0;
    margin: -40px 0px 0px 160px;
  }
  .featured-section__right-row {
    height: 0px;
    margin: -40px 160px 0px 0px;
  }
  .featured-section__middle-control-symbol {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 12px;
  }
  .featured-section__card-text {
    font-size: 16px;
  }
  .featured-section__card-span {
    font-size: 14px;
    color: #82b921;
  }
  /* fifth section */

  .bottom-accordion {
    display: flex;
  }
  .bottom-accordion__social-media {
    width: 85%;
  }

  /* footer */

  .footer {
    display: none;
  }
}
