/* top navigation */
.navigation {
  height: 60px;
  padding: 0;
}
.navigation__hamburger-icon {
  width: 24px;
}
.accordion__item--bg:not(.collapsed),
.accordion__item--bg {
  background: #262a32;
}
.accordion__img {
  width: 70%;
}
.accordion-item--height {
  height: 900px;
}
.navigation__logo-text {
  display: none;
  padding-left: 10px;
}
.nav__img--filter {
  filter: invert(1);
}
.navigation__brand {
  width: 50%;
}

/* first section */
.navigation__right-basket-item {
  display: none;
}
.carousel__start {
  background-image: url(/images/section-1/mobile/Layer\ 3.png);
  width: 100%;
  height: 470px;
  background-size: cover;
  background-position-x: right;
  background-color: currentcolor;
}
.carousel__middle {
  background-image: url(/images/section-1/mobile/Layer\ 149.png);
  width: 100%;
  height: 470px;
  background-size: cover;
  background-position-x: right;
  background-color: currentcolor;
}
.carousel__end {
  background-image: url(/images/section-1/mobile/first\ section\ cerousell\ 3.jpg);
  width: 100%;
  height: 470px;
  background-size: cover;
  background-position-x: right;
  background-color: currentcolor;
}
.discounts__container {
  background-image: url(/images/section-1/mobile/Holidays.\ Attribute\ as\ Freepik\ from\ Flaticon.com.png);
  background-color: #84bc22;
  background-repeat: no-repeat;
  background-position-y: 150px;
  height: 335px;
}
.slider-top {
  margin-top: 85px;
}
.slider-top__header {
  font-size: 28px;
  margin-top: 50px;
}
.slider-top__text {
  font-size: 14px;
  margin-bottom: 30px;
}
.slider-top__button {
  background: space;
  font-size: 14px;
  border: 2px solid #8e9092;
  padding: 5px 25px 5px 25px;
  filter: drop-shadow(2px 4px 6px black);
}
.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: white;
}
.discounts__img-header {
  font-size: 100px;
}
.discounts__img-text {
  font-size: 24px;
}
.discounts__header {
  font-size: 18px;
  color: #45413e;
  margin-top: 35px;
}
.discounts__text {
  font-size: 13px;
  color: #45413e;
  margin-bottom: 35px;
}
.discounts__button {
  padding: 5px 20px 5px 20px;
}
/* second section */
.card__special {
  background-image: url(/images/section-2/mobile/Layer\ 8.png);
  height: 365px;
  background-size: cover;
  background-position-x: -120px;
  opacity: 0.3;
}
.card__text-container {
  text-align: start;
  padding: 20px;
  width: 65%;
  font-size: 16px;
  margin-top: -186px;
  font-weight: bold;
}
.card-items {
  height: 510px;
  background: #262a32;
}
.card__span--size {
  font-size: 14px;
}
.card__button-buy--form {
  border-radius: 0 15px 15px 0;
  margin-left: -6px;
  padding: 5px 10px 5px 5px;
}
.card__button-price--form {
  padding: 5px 15px 5px 15px;
  border-radius: 15px 0px 0px 15px;
}

.card-items__header {
  font-size: 18px;
  width: 50%;
}
.card-items__header--underline {
  border: black;
}
.card__special--pink {
  background: linear-gradient(
    9deg,
    rgba(112, 101, 151, 1) 0%,
    rgba(196, 96, 134, 1) 100%
  );
  height: 365px;
}
/* rules for hover effect */
.card__hover-items {
  justify-content: space-evenly;
  margin-top: -250px;
  margin-bottom: 115px;
  padding: 0 10px 0 10px;
  opacity: 0;
}
.card {
  height: 365px;
  opacity: 1;
  z-index: 1;
}
.card__hover-btn {
  z-index: 5;
}
.card-item--bg:hover .card {
  opacity: 0.3;
}
.card-item--bg:hover .card__hover-items {
  opacity: 1;
}
.card-item--bg:hover {
  background: linear-gradient(
    9deg,
    rgba(50, 199, 119, 1) 0%,
    rgba(66, 215, 169, 1) 100%
  );
}
/* third section */
.banner {
  background-image: url(/images/section-3/mobile/Layer\ 148.png);
  background-size: cover;
  height: 185px;
  width: 100%;
  background-position: center;
}
.banner__header {
  font-size: 30px;
}
.banner__text {
  font-size: 14px;
}
/* forth section */
.info-section {
  height: auto;
  background-color: #45413d;
  color: white;
}
.info-section__header--size {
  font-size: 18px;
}
.info-section__text--size {
  font-size: 14px;
}
.info-section__img,
.info-section__text {
  width: 50%;
}

/* fifth section */

.bottom-accordion {
  font-size: 13px;
  height: 400px;
}
.bottom-accordion__item {
  border: none;
  font-size: 13px;
  padding-bottom: 15px;
}
.accordion-button:not(.collapsed) {
  color: #262a32;
  /* background-color: white; */
}
.bottom-accordion__button {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
/* footer */
.footer {
  height: 55px;
  background: #262a32;
}
.footer__index {
  border: 2px solid #82b921;
  border-radius: 50%;
  padding: 0px 4px 0px 4px;
  color: #82b921;
  font-size: 12px;
  font-weight: bolder;
  right: 12px;
  top: -9px;
  background-color: #262a32;
}
.card-items__header-line {
  width: 25%;
}
@media only screen and (min-width: 768px) {
  /* top navigation */
  .navigation {
    height: 60px;
  }
  .accordion__img {
    height: 450px;
  }
  .navigation__logo-text {
    display: block;
  }
  .navigation__logo-text-top {
    color: #011847;
    font-size: 25px;
  }
  .navigation__logo-text-bottom {
    font-size: 12px;
    color: #84bc22;
    margin-top: -10px;
  }
  .footer__index {
    background-color: white;
  }
  .navigation__brand {
    width: auto;
  }
  .nav__item-heart {
    margin-right: -22px;
  }
  .navigation__link,
  .navigation__link:visited {
    color: black;
    background-color: white;
  }
  .navigation__link:hover {
    background: #262a32;
    color: white;
    border-bottom: 2px solid #84bc22;
  }
  /* first section */
  .carousel__start {
    background-image: url(/images/section-1/desktop/Layer\ 3.png);
    background-position-x: center;
  }
  .carousel {
    width: 70%;
  }
  .discount {
    width: 30%;
    margin-top: 0;
  }
  /* second setion */
  .carousel-indicators {
    bottom: 15px;
  }
  .discounts__text {
    margin-bottom: 15px;
  }
  .discounts__header {
    margin-top: 20px;
  }
  .card-items__header-line {
    width: 60%;
  }
  .card-items__header,
  .card__container--width {
    width: 40%;
  }
  /* third section */
  .banner {
    background-image: url(/images/section-3/desctop/Layer\ 148.png);
    height: 400px;
    margin-top: -16px;
  }
  .banner__header {
    font-size: 40px;
  }
  /* fifth section */
  .info-section {
    height: auto;
  }
  .info-section__img {
    width: 25%;
  }
  .info-section__text {
    width: 75%;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    display: none;
  }
  .navigation__right-basket-item {
    display: flex;
  }
  .navigation__logo-text-top {
    font-size: 32px;
  }
  .navigation__logo-text-bottom {
    font-size: 18px;
  }
  .navigation {
    height: 80px;
  }
  /* second section */
  .card__container--width {
    width: 22%;
  }
  /* third section */
  .banner {
    height: 520px;
  }
  .banner__header {
    font-size: 48px;
  }
}
